<div>
  <%= image_tag @post_image.get_image %>
  <p>ショップ名:<%= @post_image.shop_name %></p>
  <p>説明:<%= @post_image.caption %></p>
  <p>投稿ユーザー画像:<%= image_tag @post_image.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム:<%= @post_image.user.name %></p>
  <!--↓ 投稿日付の形式を変換しているメソッド。%Y/%m/%dの記述で年/月/日のフォーマットへ変換している。-->
  <p>投稿日:<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post_image.user == current_user %>
    <%= link_to "削除", post_image_path(@post_image), method: :delete %>
  <% end %>
  <% if @post_image.favorited_by?(current_user) %>
      <p>
        <%= link_to post_image_favorites_path(@post_image), method: :delete do %>
          ♥<%= @post_image.favorites.count %>いいね
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to post_image_favorites_path(@post_image), method: :post do %>
          ♡<%= @post_image.favorites.count %>いいね
        <% end %>
      </p>
    <% end %>
</div>

<div>
  <% if @error_comment.present? %>
    <div id="error_explanation">
      <h2><%= @error_comment.errors.count %>件のエラーが発生しました。</h2>
      <ul>
        <% @error_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>コメント件数:<%= @post_image.post_comments.count %></p>
  <% @post_image.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% if post_comment.user == current_user %>
      <%= link_to "削除", post_image_post_comment_path(post_comment.post_image,post_comment), method: :delete %>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_with model: [@post_image,@post_comment] do |f| %>
  <!--↑ 配列でインスタンス変数を２つ指定しているのは、コメントはpost_imageに結びついたpost_commentであるため、二つ用意する必要がある。-->
  <!--↑ また、post_commentをcreateするためのリクエストは、ルーティングもネストしているため、上記二つの情報が必要になる。-->

   <%= f.text_area :comment, rows:'5', placeholder:"コメントをここに" %>
   <%= f.submit "送信する" %>
  <% end %>
</div>